div, span {
		// border: 1px solid red;
}



$column: 12;
$site-width: 1200px;
$gutter: 10px;
$mobile-up: "only screen and (min-width: 540px)";
$menuChange: "only screen and (min-width: 735px)" ;
// and (max-width: 800px)"


@mixin clear() {
     &:before,
     &:after {
          content: "";
          display: table;
          clear: both;
     }
}

* {
     box-sizing: border-box;
     margin: 0 auto;


}

.container {
     margin: 0 auto;
     width: 100%;
     max-width: $site-width;

     .row {
          margin: $gutter 0;
          @include clear();

          [class*="col-"] {
               float: left;
               min-height: 1px;
               width: 100%;
               // padding: 5px $gutter;
               // margin-top: 5px;
          }

          @for $i from 1 through $column {
               .col-#{$i} {
                    @media #{$mobile-up} {
                         width: (100%/$column) * $i;
                    }
               }
          }
     }
}



body {
	background-color: white;
	font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.centerText {
		text-align: center;
}

h1 {
	font-size: 15px;
}


.btn {
  width: 93%;;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid blue;
  background-color: lightblue;
}



.inputSearch {
	width: 90%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

ul {
  list-style: none;
  float: left;
  padding: 0;
    list-style-type: none;

}
li {

    text-decoration: none;
    padding-bottom: 5px;
    // word-wrap: break-word;
}


a {
	word-wrap: break-word;
	 white-space: pre-wrap;
}

.inCommonTitle {
	font-size: 25px;
	font-weight: 600;

}

.leftColumn {
	text-align: left;
	padding-left: 10px;
	@media #{$menuChange} {
		text-align: right;
	}
}

.centerCol {
	display: none;
	@media #{$menuChange} {
		display: inline;
	}

}

.inCommonCenter {
	height: 455px;
}

.inCommonTitles ul {
	width: 100%;
	 li{
		 width: 100%;
	text-align: center;
	font-weight: 600;
	
}
}

.rightColumn {
	padding-left: 10px;
	@media #{$menuChange} {
		padding-left: 0px;
	}
}

.posterImg {
	width: 75%;

	@media #{$menuChange} {
		// width: 300px;
		width: 300px;
		height: 450px;
		padding-bottom: 10px;
	}

}

.mobileListSpan {
	display: inline;
	font-weight: 600;
	padding-right: 3px;
	@media #{$menuChange} {
		display: none;
	}
}
